@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Itim&display=swap');

body {
    background-color: azure;
    padding: 10px 20px 10px 20px;
}

.conteiner {
    background-color: rgb(176, 194, 194);
    padding: 30px 20px 10px 40px;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 40px 0 20px 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
    color: rgb(51, 38, 6);
    font-weight: 800;
}

.bodyForm, .formSearch {
    border: 1px solid grey;
    padding: 20px;
    margin: 10px 0 10px 0px;
}

.inputName, .inputAge {
    width: 300px;
    margin: 10px 0 10px 0;
}

.formSearch {
    background-color: rgb(224, 214, 201);
    border-radius: 15px;
    text-align: center;
    position: relative;
    bottom: -10px;
    left: 60px; 
    width: 350px;
}

.inputSearchName {
    width: 250px;
    margin: 10px 0 20px 0px;
}

.buttonDown {
    width: 140px;
    position: relative;
    bottom: 90px;
    left: 475px;
    margin: 0 0 0 10px;
}

.buttonUp {
    width: 140px;
    position: relative;
    bottom: 90px;
    left: 485px; 
    margin: 0 0 0 10px;
}

.button {
    width: 140px;
}

.buttonAll {
    width: 300px;
    position: relative;
    bottom: 130px;
    left: 360px;
    height: 25px;
}

.buttonMale {
    position: relative;
    bottom: 90px;
    left: 60px;
}

.buttonFemale {
    position: relative;
    bottom: 90px;
    left: 80px;
}

.miniConteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-color: rgb(238, 201, 157);
    border-radius: 50px;
    width: 700px;
    height: 25px;
    margin: -20px 0 0 40px;
}

.buttonReset {
    width: 80px;
    height: 25px;
    margin: 2px 0 0 30px;
    border-radius: 50px;
}

.users {
    font-family: 'Itim', cursive;
    font-size: 27px;
}

.bodyForm {
    background-color: rgb(224, 214, 201);
    border-radius: 15px;
    text-align: center;
    position: relative;
    left: 190px;
    width: 450px;
    margin: 20px 0 0 0;
}

.buttonSuccess {
    width: 307px;
    height: 30px;
    margin: 10px 0 0 0;
}

.buttonSearchName {
    width: 125px;
    height: 42px;
    position: relative;
    left: -70px;
}

.mainConteiner{
    background-color: rgb(207, 204, 144);
    width: 900px;
    border-radius: 40px;
    position: relative;
    left: 300px;
    padding: 20px 0 20px 0px;
}

.buttonStart {
    width: 125px;
    height: 42px;
    margin: 10px 0 0 0;
    position: relative;
    left: 260px;
    bottom: 73px;
}